.jumbotron {
    border: 5px solid #1bccbd;
    background-color: #fffff9;
    margin: 14px;
}

.jumbotron h1{
    margin: 14px;
    font-size: 50px;
    font-family: 'Tahoma', sans-serif;
}

.course-input .control-group{
    display: inline-block;
}

.course-input input{
    font-family: 'Verdana', sans-serif;
}

#draggable {
    width: 150px;
    height: 40px;
    padding: 0.5em;
}

.delete-button {
    display: inline-block;
    float: right;
}
