.page-header h1{
    padding-left:20px;
    vertical-align: middle;
    font-size: 50px;
    font-family: 'Tahoma', sans-serif;
}

.course-timetable .container-fluid{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:20px;
}

#calendar{
    margin-right:0px;
    display:inline-block;
}

.course-input .container-fluid{
    margin:0px;
    padding-left: 35px;
    border-color: #1bccbd;
}

.course-input .control-group{
    display: inline-block;
}

#input-label{
    font-size: 14px;
    font-family: 'Verdana', sans-serif;
}

.course-input .input-box{
    width:100px;
    height:30px;
    font-size: 12px;
    font-family: 'Verdana', sans-serif;
}

.course-input .btn{
    background-color: #1bccbd;
    color: #fffff9;
}

#lecture-sections{
    background-color: #f8c127;
    margin-left: 30px;
}

#tutorial-sections{
    background-color: #ff4ef8;
}

#lab-sections{
    background-color: #ff4a7f;
}

.course-tags li {
    -moz-border-radius: 5px;
    border-radius: 5px;
    display:inline-block;
    background-color: #fff;
    font-size: 13px;
    width: 120px;
    height: 8px;
    border: 1px solid #d8d8d8;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    min-height: 42px;
    list-style: none;
}

.course-tags li button{
    width: 17%;
    border: solid #ffffff 2px;
    background: #ffffff;
    margin-left: 0px;
    position: absolute;
    top:30%;
    left:80%;
}



/*.course-tags li button:hover{
    background: darkgray;
}*/
